/* 
* @Author: Marte
* @Date:   2017-07-14 16:24:20
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-16 08:59:03
*/
html{
    background: #fff;
}
.pet-add-header{
    background:#fff;
}
.pet-add-header a{
    color:#333;
}
.pet-add-header a.mui-pull-right{
    font-size:14px;
    line-height: 24px;
}
 .pet-add-list{
    margin-top:0!important;
 }

 .pet-add-list li{
    background:#f7f7f7;
 }
 .pet-add-list li:after{
    left: 0;
}
.pet-add-name{
    margin-bottom: 12px;
    color: #2c2c2c;
}
.pet-add-detail{
    font-size: 14px;
    color: #2c2c2c;
    line-height: 24px;
}
.pet-add-edit a{
    margin-left: 15px;
    color: #2c2c2c;
    font-size: 14px;
}

/*新增地址 start*/
.pet-addad-header a{
    color: #333;
}
.pet-addad-header a.mui-pull-right {
    font-size: 14px;
    line-height: 24px;
}
/*新增地址 end*/